[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

.vs/
.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.log
.DS_Store
Thumbs.db
desktop.ini

*.apk
*.aab
*.exe
*.x86
*.x86_64
*.app
*.ipa

.gradle/
local.properties

TestResults/
CoverageResults/

sysinfo.txt
*.stacktrace